---
layout: default
disqus: true
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">Subscribe</a>
    </nav>

    <!--fb graph added -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
    <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image" content="{% if page.featured_image %}{{ page.featured_image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.icon | prepend: site.baseurl | prepend: site.url }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:locale" content="{{ site.locale }}">

    {% if page.date %}
      <meta property="article:modified_time" content="{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}">
      <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
      <meta property="article:author" content="https://www.facebook.com/{{ site.author.facebook }}">
      {% for post in site.related_posts limit:3 %}
        <meta property="og:see_also" content="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      {% endfor %}
    {% endif %}

    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta property="article:section" content="{{ category }}">
      {% endfor %}
    {% endif %}

    {% if page.tags %}
      {% for tag in page.tags %}
      <meta property="article:tag" content="{{ tag }}">
      {% endfor %}
    {% endif %}

    <meta property="fb:admins" content="{{ site.fb_admins }}">
    <meta property="fb:app_id" content="{{ site.fb_appid }}">

    <!--search engine optim added -->


</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% if page.categories.size > 0 %}
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
                {% endif %}
            </section>
            <br>
        </header>

<!--         <header class="post-header">
            <a id="blog-logo" href="{{site.url}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <!-- <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </span> -->

        <!-- <h1 class="post-title">{{ page.title }}</h1> -->

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p>
                        Marketing gari, Kendo master and all around nice guy
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>

</main>
